* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

#sortView {
  width: 100vw;
  height: 100vh;
  display: block;
}

#controller {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
}

#controller > button {
  border: 0.1em solid gray;
  background-color: rgb(105,105,105, 0.8);
}

#controller > button:hover {
  background-color: rgb(105,105,105, 0.9);
}
